<head>
    <title>Starship Timeline</title>
    <link rel="stylesheet" href="style.css" />
    <script src="_.js"></script>
    <script src="buttons.js"></script>
    <script src="scrolling.js"></script>
    <script src="preferences.js"></script>
    <script src="assets/liquid.browser.min.js"></script>
</head>
<body>

    <script>
        window.timeline = {{ timeline | json }};
    </script>

    {% for template in templates %}
        {% assign template_name = template[0] %}
        {% assign template_content = template[1] %}
        <template name="{{ template_name }}">
            {{ template_content }}
        </template>
    {% endfor %}

    <main>
        <div class="preferences">
            <h3>Timeline Order</h3>
            <buttonset name="time-direction" class="switch">
                <button name="forward" class="pressed">Chronological</button>
                <button name="backwards">Latest First</button>
            </buttonset>
            <h3>Vehicles</h3>
            <div class="checkboxes shorts" name="vehicles">
                {% assign vehicles = timeline.events | map: 'vehicle' | unique %}
                {% for vehicle in vehicles %}
                    <div>
                        <input type="checkbox" checked id="vehicle-{{ vehicle }}" name="{{ vehicle }}" />
                        <label for="vehicle-{{ vehicle }}">{{ vehicle }}</label>
                    </div>
                {% endfor %}
            </div>
            <h3>Event Types</h3>
            <div class="checkboxes" name="types">
                {% assign types = timeline.event_types %}
                {% for type in types %}
                    <div>
                        <input type="checkbox" checked id="type-{{ type[0] }}" name="{{ type[0] }}" />
                        <label for="type-{{ type[0] }}">{{ type[1] }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <section class="main">
            <menu>
                <ul>
                    <li name="close">Close &rarr;</li>
                    <li name="preferences">&larr; Preferences</li>
                </ul>
            </menu>
            <nav>
                {% assign events = timeline.events %}
                {% assign event_types = timeline.event_types %}
                {% render 'nav-loop', events: events, event_types: event_types %}
            </nav>
        </section>
    </main>
    
    <section class="gallery">
        {% assign events = timeline.events %}
        {% assign event_types = timeline.event_types %}
        {% render 'gallery-loop', events: events, event_types: event_types %}
    </section>

</body>